### Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Loading the data

#### They below data is the list of businesses on Yelp. They do not contain reviews. We will add those later.

In [2]:
#business_json_path = './yelp_dataset/business.json'
df_b = pd.read_json(business_json_path, lines=True)
df_b.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"Golf, Active Life",None
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,170,1,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...","Sushi Bars, Restaurants, Japanese","{'Monday': '17:30-21:30', 'Wednesday': '17:30-..."

In [3]:
df_b.shape

(192609, 14)

In [4]:
df_b.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [5]:
#we only want to look at businesses that are still open
# 1 = open, 0 = closed
df_b = df_b[df_b['is_open']==1]

In [6]:
#double checking to see if only 1s are present. We only want business that are open
df_b['is_open']

1         1
2         1
3         1
4         1
5         1
         ..
192603    1
192604    1
192605    1
192606    1
192607    1
Name: is_open, Length: 158525, dtype: int64

In [7]:
#looking at businesses that are open drops the total observations down ~ 34_000 rows 
df_b.shape

(158525, 14)

In [8]:
#dropping columns that are 
drop_columns = ['hours','is_open','review_count']
df_b = df_b.drop(drop_columns, axis=1)

In [9]:
#shape after dropping 3 variables/columns
df_b.shape

(158525, 11)

In [10]:
#double checking to see if those columns above have been removed
df_b.head(4).T

,1,2,3,4
business_id,QXAEGFB4oINsVuTFxEYKFQ,gnKjwL_1w79qoiV3IC_xQQ,xvX2CttrVhyG2z1dFg_0xw,HhyxOkGAM07SRYtlQ4wMFQ
name,Emerald Chinese Restaurant,Musashi Japanese Restaurant,Farmers Insurance - Paul Lorenz,Queen City Plumbing
address,30 Eglinton Avenue W,"10110 Johnston Rd, Ste 15","15655 W Roosevelt St, Ste 237","4209 Stuart Andrew Blvd, Ste F"
city,Mississauga,Charlotte,Goodyear,Charlotte
state,ON,NC,AZ,NC
postal_code,L5R 3E7,28210,85338,28217
latitude,43.6055,35.0926,33.4556,35.19
longitude,-79.6523,-80.8591,-112.396,-80.8872
stars,2.5,4,5,4
attributes,"{'RestaurantsReservations': 'True', 'GoodForMe...","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",None,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint..."
categories,"Specialty Food, Restaurants, Dim Sum, Imported...","Sushi Bars, Restaurants, Japanese","Insurance, Financial Services","Plumbing, Shopping, Local Services, Home Servi..."

In [11]:
#after checking the dtypes, i noticed that the only thing that looked strange to me was postal code being an object. 
#After looking further into this, I confirmed that postal codes in Canada can be a mix of numbers and letters.
df_b.dtypes

business_id     object
name            object
address         object
city            object
state           object
postal_code     object
latitude       float64
longitude      float64
stars          float64
attributes      object
categories      object
dtype: object

In [12]:
df_b.describe()

            latitude      longitude          stars
count  158525.000000  158525.000000  158525.000000
mean       38.518946     -97.601829       3.609787
std         4.944150      16.686633       1.038052
min        33.204642    -115.493471       1.000000
25%        33.637105    -112.274157       3.000000
50%        36.144678    -111.757015       3.500000
75%        43.580251     -80.002164       4.500000
max        51.299943     -72.934296       5.000000

In [13]:
df_b.isnull().sum()

business_id        0
name               0
address            0
city               0
state              0
postal_code        0
latitude           0
longitude          0
stars              0
attributes     25773
categories       461
dtype: int64

In [14]:
#double checking to make sure everything worked and it did
df_b.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'attributes', 'categories'],
      dtype='object')

In [15]:
#I only want to work with restaurants
df_b['categories'].unique()

array(['Specialty Food, Restaurants, Dim Sum, Imported Food, Food, Chinese, Ethnic Food, Seafood',
       'Sushi Bars, Restaurants, Japanese',
       'Insurance, Financial Services', ...,
       'Golf, Hotels, Day Spas, Hotels & Travel, Event Planning & Services, Beauty & Spas, Active Life, Venues & Event Spaces, Resorts',
       'Water Purification Services, Water Heater Installation/Repair, Home Services, Plumbing',
       'Home Services, Contractors, Landscaping, Masonry/Concrete, Landscape Architects'],
      dtype=object)

In [16]:
df_explode = df_b.assign(categories = df_b.categories
                         .str.split(', ')).explode('categories')

In [17]:
#i only want look @ restaurants
df_explode.categories.value_counts()

Restaurants            42237
Shopping               26734
Food                   23208
Home Services          18455
Beauty & Spas          16545
                       ...
Linens                     1
Ceremonial Clothing        1
Geneticists                1
Homeopathic                1
Entertainment Law          1
Name: categories, Length: 1290, dtype: int64

In [18]:
restaurants = df_b[df_b['categories'].str.contains(
              'Restaurants',
              case=False, na=False)]

In [19]:
restaurants.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported..."
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...","Sushi Bars, Restaurants, Japanese"
11,1Dfx3zM-rW4n-31KeC8sJg,Taco Bell,2450 E Indian School Rd,Phoenix,AZ,85016,33.495194,-112.028588,3.0,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...","Restaurants, Breakfast & Brunch, Mexican, Taco..."

In [20]:
#total amount of restaurants in this data set. drops the dataset ~ 116_000 observations (after excluding other types of 
#businesses)
restaurants.shape

(42237, 11)

#### Uploading Review.json dataset

In [21]:
# Setting up local path for yelp data
#review_json_path = './yelp_dataset/review.json'

In [22]:
#loading this larger dataset will most like crash our computer, we want to segment this file into smaller chunks.
# Set chunk size (smaller if dataset is smaller)
# 2019 Yelp review.json has more than 6 million reviews(rows)
size = 1000000
review = pd.read_json(review_json_path, lines=True,
                      # identifying the data type of each column can reduce memory usage
                      dtype={'review_id':str,'user_id':str,'business_id':str,'stars':int,
                             'date':str,'text':str,'useful':int,'funny':int,'cool':int},
                      chunksize=size)

#### Merging Review.json and Business.json file

In [23]:
# There are multiple chunks to be read
chunk_list = []
for row in review:
    # Drop columns that aren't needed
    row = row.drop(['review_id','useful','funny','cool'], axis=1)
    # Renaming column name to avoid conflict with business overall star rating
    row = row.rename(columns={'stars': 'review_stars'})
    # Inner merge with edited business file so only reviews related to the business remain
    row_merged = pd.merge(restaurants, row, on='business_id', how='inner')
    # Show feedback on progress
    print(f"{row_merged.shape[0]} out of {size:,} related reviews")
    chunk_list.append(row_merged)
# After trimming down the review file, concatenate all relevant data back to one dataframe
df = pd.concat(chunk_list, ignore_index=True, join='outer', axis=0)

542186 out of 1,000,000 related reviews
528749 out of 1,000,000 related reviews
536809 out of 1,000,000 related reviews
513981 out of 1,000,000 related reviews
543770 out of 1,000,000 related reviews
538407 out of 1,000,000 related reviews
362861 out of 1,000,000 related reviews

In [24]:
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories,user_id,review_stars,text,date
0,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...",2K62MJ4CJ19L8Tp5pRfjfQ,3,My girlfriend and I went for dinner at Emerald...,2017-01-27 21:54:30
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...",A0kENtCCoVT3m7T35zb2Vg,3,We've always been there on a Sunday so we were...,2013-06-24 23:11:30
2,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...",SuOLY03LW5ZcnynKhbTydA,3,"***No automatic doors, not baby friendly!*** I...",2016-01-04 12:59:22
3,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...",lymyUak6KNcNKoDbK87MiQ,1,"Horrible service,\nI went there tonight with m...",2014-05-09 02:38:43
4,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...",6vU0I5XgCv9OQHZ76rV6qw,4,One of the gauges of a good Chinese restaurant...,2011-03-21 14:39:55

In [25]:
#confirming that these are only restaurants - with the use of both head and tail methods
df.tail()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories,user_id,review_stars,text,date
3566758,p1eUTUB_5hf1enoKYBV3DA,Ken Stewart's Tre Belle,1911 N Cleveland-Massillon Rd,Bath,OH,44210,41.187547,-81.635791,3.5,"{'OutdoorSeating': 'True', 'BikeParking': 'Tru...","Restaurants, Italian",ZO8h27XOn_XFKLLRRrLp0g,5,When I write a review on someplace that I have...,2013-05-03 18:57:28
3566759,p1eUTUB_5hf1enoKYBV3DA,Ken Stewart's Tre Belle,1911 N Cleveland-Massillon Rd,Bath,OH,44210,41.187547,-81.635791,3.5,"{'OutdoorSeating': 'True', 'BikeParking': 'Tru...","Restaurants, Italian",mwual7bROpwhZ3fu_GiPtQ,5,We stopped in at Tre Belle on a Tuesday evenin...,2013-12-04 01:16:42
3566760,p1eUTUB_5hf1enoKYBV3DA,Ken Stewart's Tre Belle,1911 N Cleveland-Massillon Rd,Bath,OH,44210,41.187547,-81.635791,3.5,"{'OutdoorSeating': 'True', 'BikeParking': 'Tru...","Restaurants, Italian",WKneD6tKr18q0ey0QbHBaA,3,I wasnt impressed. The place is beautiful and ...,2012-04-25 16:51:38
3566761,p1eUTUB_5hf1enoKYBV3DA,Ken Stewart's Tre Belle,1911 N Cleveland-Massillon Rd,Bath,OH,44210,41.187547,-81.635791,3.5,"{'OutdoorSeating': 'True', 'BikeParking': 'Tru...","Restaurants, Italian",PxB2oZXO9N_4Zo2VIPUuGA,1,Last night some friends and I dined at this es...,2018-02-22 22:32:44
3566762,p1eUTUB_5hf1enoKYBV3DA,Ken Stewart's Tre Belle,1911 N Cleveland-Massillon Rd,Bath,OH,44210,41.187547,-81.635791,3.5,"{'OutdoorSeating': 'True', 'BikeParking': 'Tru...","Restaurants, Italian",d_wsHVzrqu8vBhDKhZtNbQ,2,First let me list the positives. The restaura...,2009-04-23 18:38:23

In [26]:
#taking a look at the final shape after joining. still quite a bit of data (~ 3 million observations)
df.shape

(3566763, 15)

In [ ]:
df.to_csv('./yelp_dataset/restaurant_reviews.csv')